.dashboard-container{
  width: 70%;
  text-align: center;
}

button{
  background-color: black;
  color: white;
  margin: 10px;
  padding: 10px 20px;
  outline: none;
  border-radius: 3px;
  border: none;
  font-size: 20px;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

button:hover{
  background-color: rgb(159, 0, 0);
  cursor: pointer;
}

.dashboard-text{
  color: white;
}

.title{
  font-size: 40px;
}

.confirm-message{
  line-height: 40px;
}

.user-feedback{
  color: red;
}